* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/** Utility CSS **/


/** Loader section CSS **/
.loader {
    background: pink;
    display: none;
}


/** Login section CSS **/

@media only screen and (min-width: 768px) {
    .login-card {
        width: 512px;
        height: 288px;
    }
}

/** Utility CSS **/
.d-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}

.justfify-content-around {
    justify-content: space-around;
}

.full-window {
    width: 100vw;
    height: 100vh;
}

.d-hidden {
    display: none;
}

.text-center {
    text-align: center !important;
}

/** Modal and Dialog stuff **/

.mdl-dialog {
    border: none;
    box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);
}

@media only screen and (min-width: 768px) {

    .mdl-dialog {
        width: 512px;
    }

}

.mdl-dialog__title {
    padding: 24px 24px 0;
    margin: 0;
    font-size: 2.5rem;
}

.mdl-dialog__actions {
    padding: 8px 8px 8px 24px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.mdl-dialog__actions>* {
    margin-right: 8px;
    height: 36px;
}

.mdl-dialog__actions>*:first-child {
    margin-right: 0;
}

.mdl-dialog__actions--full-width {
    padding: 0 0 8px 0;
}

.mdl-dialog__actions--full-width>* {
    height: 48px;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    padding-right: 16px;
    margin-right: 0;
    text-align: right;
}

.mdl-dialog__content {
    padding: 20px 24px 24px 24px;
    color: rgba(0, 0, 0, 0.54);
}